node-red-node-ui-microphone/examples/01 - record and play audio.json
[
    {
        "id": "a3a2bc40.368e4",
        "type": "ui_microphone",
        "z": "701c5025.117cc",
        "name": "",
        "group": "1e632fb9.2b70d",
        "order": 1,
        "width": "3",
        "height": "1",
        "maxLength": 5,
        "maxRecogLength": 0,
        "timeslice": 0,
        "press": "click",
        "mode": "audio",
        "interimResults": false,
        "outputs": 1,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "662f129.53b5bec"
            ]
        ]
    },
    {
        "id": "662f129.53b5bec",
        "type": "change",
        "z": "701c5025.117cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "audio",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a6775e73.60ce3",
        "type": "ui_button",
        "z": "701c5025.117cc",
        "name": "",
        "group": "1e632fb9.2b70d",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "audio",
        "payloadType": "flow",
        "topic": "",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "b247cb0f.18fbc8"
            ]
        ]
    },
    {
        "id": "b247cb0f.18fbc8",
        "type": "ui_audio",
        "z": "701c5025.117cc",
        "name": "",
        "group": "1e632fb9.2b70d",
        "voice": "Alex",
        "always": "",
        "x": 320,
        "y": 400,
        "wires": []
    },
    {
        "id": "1e632fb9.2b70d",
        "type": "ui_group",
        "name": "Default",
        "tab": "80605b7f.1d6cd8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "80605b7f.1d6cd8",
        "type": "ui_tab",
        "name": "Audio Example",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]