node-red-node-ui-microphone/examples/01 - record and play audio.json
[
    {
        "id": "5b5a51f.aaa1eb",
        "type": "change",
        "z": "80638a41.e07d68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "audio",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "98386b47.1f9578",
        "type": "ui_button",
        "z": "80638a41.e07d68",
        "name": "",
        "group": "a9cf3f4b.a6172",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "audio",
        "payloadType": "flow",
        "topic": "",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "f03beedb.7ca0d"
            ]
        ]
    },
    {
        "id": "f03beedb.7ca0d",
        "type": "ui_audio",
        "z": "80638a41.e07d68",
        "name": "",
        "group": "a9cf3f4b.a6172",
        "voice": "Google US English",
        "always": "",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "6a2eefef.95866",
        "type": "ui_text",
        "z": "80638a41.e07d68",
        "group": "a9cf3f4b.a6172",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text→",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "b3eef9ed.456698",
        "type": "switch",
        "z": "80638a41.e07d68",
        "name": "",
        "property": "done",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "b65bff76.ccfaa"
            ],
            [
                "5b5a51f.aaa1eb",
                "6a2eefef.95866"
            ]
        ]
    },
    {
        "id": "b65bff76.ccfaa",
        "type": "ui_text",
        "z": "80638a41.e07d68",
        "group": "a9cf3f4b.a6172",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "interim→",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "2340ced4.6f9712",
        "type": "comment",
        "z": "80638a41.e07d68",
        "name": "↑select appropriate voice",
        "info": "",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "9e9dd20a.deefa",
        "type": "ui_microphone",
        "z": "80638a41.e07d68",
        "name": "",
        "group": "a9cf3f4b.a6172",
        "order": 4,
        "width": 0,
        "height": 0,
        "maxLength": 5,
        "maxRecogLength": 0,
        "timeslice": 0,
        "press": "click",
        "mode": "recog",
        "interimResults": true,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "b3eef9ed.456698"
            ]
        ]
    },
    {
        "id": "a9cf3f4b.a6172",
        "type": "ui_group",
        "name": "Default",
        "tab": "a96b5d8e.0a5a3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a96b5d8e.0a5a3",
        "type": "ui_tab",
        "name": "Speech Recognition Example",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]