node-red-node-ui-vega/examples/Vega-Lite - Map.json
[{"id":"4789d54a.fb2b9c","type":"tab","label":"[Vega-Lite] Map","disabled":false,"info":"# Map Example\n\nDisplay information on a map.\n\nIn this example, the map data used in vega specification is accessed by URL.\nSecond flow servies this request.\n"},{"id":"1333dc64.324eb4","type":"ui_vega","z":"4789d54a.fb2b9c","group":"f446d13f.182bd","name":"Map","order":6,"width":"10","height":"10","vega":"{\n  \"width\": 200,\n  \"height\": 250,\n  \"config\": {\n    \"view\": {\n      \"stroke\": \"transparent\"\n    }\n  },\n  \"layer\": [\n    {\n      \"data\": {\n        \"url\": \"/jp-map-data\"\n      },\n      \"mark\": {\n        \"type\": \"geoshape\",\n        \"fill\": \"lightgray\"\n      }\n    },\n    {\n      \"data\": {\n        \"values\": [\n          {\n            \"name\": \"Sapporo\",\n            \"population\": 1957914,\n            \"lat\": 43.062083,\n            \"lon\": 141.354389\n          },\n          {\n            \"name\": \"Sendai\",\n            \"population\": 1089372,\n            \"lat\": 38.268222,\n            \"lon\": 140.869417\n          },\n          {\n            \"name\": \"Tokyo\",\n            \"population\": 13929286,\n            \"lat\": 35.689556,\n            \"lon\": 139.691722\n          },\n          {\n            \"name\": \"Nagoya\",\n            \"population\": 2325918,\n            \"lat\": 35.181389,\n            \"lon\": 136.9606389\n          },          \n          {\n            \"name\": \"Osaka\",\n            \"population\": 8823358,\n            \"lat\": 34.686333,\n            \"lon\": 135.519861\n          },\n          {\n            \"name\": \"Fukuoka\",\n            \"population\": 1588924,\n            \"lat\": 33.590139,\n            \"lon\": 130.401722\n          }\n        ]\n      },\n      \"mark\": \"circle\",\n      \"encoding\": {\n        \"latitude\": {\n          \"field\": \"lat\",\n          \"type\": \"quantitative\"\n        },\n        \"longitude\": {\n          \"field\": \"lon\",\n          \"type\": \"quantitative\"\n        },\n        \"size\": {\n          \"field\": \"population\",\n          \"scale\": {\n            \"range\": [0, 1000]\n          },\n          \"legend\": {\n            \"title\": \"Population\",\n            \"orient\": \"left\"\n          }\n        }\n      }\n    }\n  ]\n}","x":130,"y":100,"wires":[]},{"id":"9f0923d3.ca4be","type":"template","z":"4789d54a.fb2b9c","name":"Map of Japan","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"type\": \"FeatureCollection\",\n    \"features\": [\n        {\n            \"geometry\": {\n                \"type\": \"MultiPolygon\",\n                \"coordinates\": [\n                    [\n                        [\n                            [\n                                123.888671875,\n                                24.280126953125\n                            ],\n                            [\n                                123.8255859375,\n                                24.266064453125\n                            ],\n                            [\n                                123.7498046875,\n                                24.28330078125\n                            ],\n                            [\n                                123.6806640625,\n                                24.288037109375\n                            ],\n                            [\n                                123.67978515625,\n                                24.3177734375\n                            ],\n                            [\n                                123.75234375,\n                                24.3484863281251\n                            ],\n                            [\n                                123.7537109375,\n                                24.39130859375\n                            ],\n                            [\n                                123.771484375,\n                                24.414453125\n                            ],\n                            [\n                                123.93486328125,\n                                24.36201171875\n                            ],\n                            [\n                                123.928125,\n                                24.3236328125\n                            ],\n                            [\n                                123.888671875,\n                                24.280126953125\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                124.2931640625,\n                                24.5159179687501\n                            ],\n                            [\n                                124.23427734375,\n                                24.358056640625\n                            ],\n                            [\n                                124.18564453125,\n                                24.33505859375\n                            ],\n                            [\n                                124.1357421875,\n                                24.347607421875\n                            ],\n                            [\n                                124.084765625,\n                                24.43583984375\n                            ],\n                            [\n                                124.12041015625,\n                                24.4696289062501\n                            ],\n                            [\n                                124.17021484375,\n                                24.45185546875\n                            ],\n                            [\n                                124.210546875,\n                                24.458642578125\n                            ],\n                            [\n                                124.301953125,\n                                24.587109375\n                            ],\n                            [\n                                124.3240234375,\n                                24.566357421875\n                            ],\n                            [\n                                124.2931640625,\n                                24.5159179687501\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                125.444140625,\n                                24.7431640625\n                            ],\n                            [\n                                125.359375,\n                                24.71708984375\n                            ],\n                            [\n                                125.2689453125,\n                                24.7325195312501\n                            ],\n                            [\n                                125.28359375,\n                                24.871923828125\n                            ],\n                            [\n                                125.31494140625,\n                                24.852392578125\n                            ],\n                            [\n                                125.3345703125,\n                                24.8046875\n                            ],\n                            [\n                                125.40185546875,\n                                24.77685546875\n                            ],\n                            [\n                                125.444140625,\n                                24.7431640625\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                142.18818359375,\n                                26.61650390625\n                            ],\n                            [\n                                142.169921875,\n                                26.615673828125\n                            ],\n                            [\n                                142.10712890625,\n                                26.721533203125\n                            ],\n                            [\n                                142.12529296875,\n                                26.72646484375\n                            ],\n                            [\n                                142.16171875,\n                                26.7099609375\n                            ],\n                            [\n                                142.2021484375,\n                                26.648779296875\n                            ],\n                            [\n                                142.18818359375,\n                                26.61650390625\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                128.2587890625,\n                                26.652783203125\n                            ],\n                            [\n                                128.1625,\n                                26.60693359375\n                            ],\n                            [\n                                128.126953125,\n                                26.5522460937501\n                            ],\n                            [\n                                128.037890625,\n                                26.53359375\n                            ],\n                            [\n                                127.95126953125,\n                                26.456494140625\n                            ],\n                            [\n                                127.86708984375,\n                                26.44248046875\n                            ],\n                            [\n                                127.86923828125,\n                                26.38056640625\n                            ],\n                            [\n                                127.90478515625,\n                                26.328125\n                            ],\n                            [\n                                127.84873046875,\n                                26.3189453125\n                            ],\n                            [\n                                127.79013671875,\n                                26.255078125\n                            ],\n                            [\n                                127.785546875,\n                                26.20869140625\n                            ],\n                            [\n                                127.8064453125,\n                                26.1712402343751\n                            ],\n                            [\n                                127.80361328125,\n                                26.1525390625\n                            ],\n                            [\n                                127.72939453125,\n                                26.09716796875\n                            ],\n                            [\n                                127.653125,\n                                26.0947265625\n                            ],\n                            [\n                                127.64970703125,\n                                26.1544921875\n                            ],\n                            [\n                                127.6548828125,\n                                26.199169921875\n                            ],\n                            [\n                                127.72705078125,\n                                26.30791015625\n                            ],\n                            [\n                                127.72890625,\n                                26.433935546875\n                            ],\n                            [\n                                127.7958984375,\n                                26.44853515625\n                            ],\n                            [\n                                127.82041015625,\n                                26.466064453125\n                            ],\n                            [\n                                127.9259765625,\n                                26.555712890625\n                            ],\n                            [\n                                127.9455078125,\n                                26.5939453125\n                            ],\n                            [\n                                127.8908203125,\n                                26.6310546875\n                            ],\n                            [\n                                127.89482421875,\n                                26.674951171875\n                            ],\n                            [\n                                127.9072265625,\n                                26.693603515625\n                            ],\n                            [\n                                127.9943359375,\n                                26.679443359375\n                            ],\n                            [\n                                128.0296875,\n                                26.646875\n                            ],\n                            [\n                                128.04677734375,\n                                26.643310546875\n                            ],\n                            [\n                                128.09765625,\n                                26.6677734375\n                            ],\n                            [\n                                128.12158203125,\n                                26.71142578125\n                            ],\n                            [\n                                128.21650390625,\n                                26.796875\n                            ],\n                            [\n                                128.2548828125,\n                                26.881884765625\n                            ],\n                            [\n                                128.331640625,\n                                26.8121093750001\n                            ],\n                            [\n                                128.3109375,\n                                26.720703125\n                            ],\n                            [\n                                128.2587890625,\n                                26.652783203125\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                128.99814453125,\n                                27.72080078125\n                            ],\n                            [\n                                128.95625,\n                                27.702490234375\n                            ],\n                            [\n                                128.9,\n                                27.727783203125\n                            ],\n                            [\n                                128.8828125,\n                                27.842431640625\n                            ],\n                            [\n                                128.9076171875,\n                                27.897998046875\n                            ],\n                            [\n                                128.95166015625,\n                                27.91025390625\n                            ],\n                            [\n                                128.98974609375,\n                                27.8111328125\n                            ],\n                            [\n                                129.01640625,\n                                27.77021484375\n                            ],\n                            [\n                                128.99814453125,\n                                27.72080078125\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                129.3240234375,\n                                28.104931640625\n                            ],\n                            [\n                                129.33056640625,\n                                28.081591796875\n                            ],\n                            [\n                                129.232421875,\n                                28.101123046875\n                            ],\n                            [\n                                129.19248046875,\n                                28.19248046875\n                            ],\n                            [\n                                129.257421875,\n                                28.1761718750001\n                            ],\n                            [\n                                129.27734375,\n                                28.1447265625\n                            ],\n                            [\n                                129.3240234375,\n                                28.104931640625\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                129.4525390625,\n                                28.208984375\n                            ],\n                            [\n                                129.36640625,\n                                28.127734375\n                            ],\n                            [\n                                129.27490234375,\n                                28.20087890625\n                            ],\n                            [\n                                129.1646484375,\n                                28.249755859375\n                            ],\n                            [\n                                129.21708984375,\n                                28.2629394531251\n                            ],\n                            [\n                                129.2478515625,\n                                28.28251953125\n                            ],\n                            [\n                                129.25087890625,\n                                28.3135742187501\n                            ],\n                            [\n                                129.3224609375,\n                                28.359619140625\n                            ],\n                            [\n                                129.46455078125,\n                                28.395263671875\n                            ],\n                            [\n                                129.50966796875,\n                                28.397509765625\n                            ],\n                            [\n                                129.560546875,\n                                28.4310546875\n                            ],\n                            [\n                                129.5771484375,\n                                28.461279296875\n                            ],\n                            [\n                                129.598046875,\n                                28.47587890625\n                            ],\n                            [\n                                129.68955078125,\n                                28.51748046875\n                            ],\n                            [\n                                129.7146484375,\n                                28.46962890625\n                            ],\n                            [\n                                129.71044921875,\n                                28.4321289062501\n                            ],\n                            [\n                                129.64169921875,\n                                28.411279296875\n                            ],\n                            [\n                                129.574609375,\n                                28.361181640625\n                            ],\n                            [\n                                129.5126953125,\n                                28.29873046875\n                            ],\n                            [\n                                129.45673828125,\n                                28.272314453125\n                            ],\n                            [\n                                129.4390625,\n                                28.25478515625\n                            ],\n                            [\n                                129.4525390625,\n                                28.208984375\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                130.62275390625,\n                                30.26298828125\n                            ],\n                            [\n                                130.508203125,\n                                30.24140625\n                            ],\n                            [\n                                130.44560546875,\n                                30.264697265625\n                            ],\n                            [\n                                130.3880859375,\n                                30.38818359375\n                            ],\n                            [\n                                130.49716796875,\n                                30.46552734375\n                            ],\n                            [\n                                130.6435546875,\n                                30.38896484375\n                            ],\n                            [\n                                130.6732421875,\n                                30.36689453125\n                            ],\n                            [\n                                130.62275390625,\n                                30.26298828125\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                130.959765625,\n                                30.396923828125\n                            ],\n                            [\n                                130.87216796875,\n                                30.386328125\n                            ],\n                            [\n                                130.8703125,\n                                30.44423828125\n                            ],\n                            [\n                                130.93994140625,\n                                30.57509765625\n                            ],\n                            [\n                                130.94736328125,\n                                30.67119140625\n                            ],\n                            [\n                                131.01220703125,\n                                30.79228515625\n                            ],\n                            [\n                                131.03984375,\n                                30.818896484375\n                            ],\n                            [\n                                131.0603515625,\n                                30.828466796875\n                            ],\n                            [\n                                131.0826171875,\n                                30.790869140625\n                            ],\n                            [\n                                131.057421875,\n                                30.64248046875\n                            ],\n                            [\n                                130.992578125,\n                                30.52998046875\n                            ],\n                            [\n                                130.959765625,\n                                30.396923828125\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                129.71796875,\n                                31.65712890625\n                            ],\n                            [\n                                129.68681640625,\n                                31.6396484375\n                            ],\n                            [\n                                129.7068359375,\n                                31.71826171875\n                            ],\n                            [\n                                129.7873046875,\n                                31.787109375\n                            ],\n                            [\n                                129.79365234375,\n                                31.74248046875\n                            ],\n                            [\n                                129.71796875,\n                                31.65712890625\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                130.3810546875,\n                                32.42373046875\n                            ],\n                            [\n                                130.292578125,\n                                32.4193359375\n                            ],\n                            [\n                                130.2560546875,\n                                32.431005859375\n                            ],\n                            [\n                                130.24169921875,\n                                32.46279296875\n                            ],\n                            [\n                                130.3654296875,\n                                32.5271972656251\n                            ],\n                            [\n                                130.46142578125,\n                                32.51572265625\n                            ],\n                            [\n                                130.4185546875,\n                                32.45771484375\n                            ],\n                            [\n                                130.3810546875,\n                                32.42373046875\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                130.08251953125,\n                                32.2296875\n                            ],\n                            [\n                                130.003515625,\n                                32.193994140625\n                            ],\n                            [\n                                129.993359375,\n                                32.228173828125\n                            ],\n                            [\n                                129.96015625,\n                                32.24375\n                            ],\n                            [\n                                130.01728515625,\n                                32.291845703125\n                            ],\n                            [\n                                130.01533203125,\n                                32.313671875\n                            ],\n                            [\n                                129.979296875,\n                                32.3461914062501\n                            ],\n                            [\n                                130.0212890625,\n                                32.46884765625\n                            ],\n                            [\n                                130.009765625,\n                                32.521630859375\n                            ],\n                            [\n                                130.1677734375,\n                                32.5412109375\n                            ],\n                            [\n                                130.1966796875,\n                                32.4916015625\n                            ],\n                            [\n                                130.19951171875,\n                                32.3405761718751\n                            ],\n                            [\n                                130.08251953125,\n                                32.2296875\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                128.66533203125,\n                                32.7838867187499\n                            ],\n                            [\n                                128.7041015625,\n                                32.756884765625\n                            ],\n                            [\n                                128.76103515625,\n                                32.77236328125\n                            ],\n                            [\n                                128.8060546875,\n                                32.7759765625\n                            ],\n                            [\n                                128.83857421875,\n                                32.762890625\n                            ],\n                            [\n                                128.87939453125,\n                                32.693310546875\n                            ],\n                            [\n                                128.89453125,\n                                32.6521484375\n                            ],\n                            [\n                                128.8212890625,\n                                32.646337890625\n                            ],\n                            [\n                                128.7904296875,\n                                32.63671875\n                            ],\n                            [\n                                128.75048828125,\n                                32.5861328125\n                            ],\n                            [\n                                128.69296875,\n                                32.6047363281251\n                            ],\n                            [\n                                128.65732421875,\n                                32.62841796875\n                            ],\n                            [\n                                128.64912109375,\n                                32.66201171875\n                            ],\n                            [\n                                128.66533203125,\n                                32.7838867187499\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                139.84111328125,\n                                33.0560546875\n                            ],\n                            [\n                                139.823828125,\n                                33.045458984375\n                            ],\n                            [\n                                139.77568359375,\n                                33.0782226562501\n                            ],\n                            [\n                                139.7689453125,\n                                33.107177734375\n                            ],\n                            [\n                                139.77744140625,\n                                33.125146484375\n                            ],\n                            [\n                                139.80888671875,\n                                33.1292480468751\n                            ],\n                            [\n                                139.8736328125,\n                                33.093505859375\n                            ],\n                            [\n                                139.84111328125,\n                                33.0560546875\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                129.076953125,\n                                32.840283203125\n                            ],\n                            [\n                                129.051953125,\n                                32.8294921875\n                            ],\n                            [\n                                129.01962890625,\n                                32.91962890625\n                            ],\n                            [\n                                128.997265625,\n                                32.95185546875\n                            ],\n                            [\n                                129.0349609375,\n                                32.969091796875\n                            ],\n                            [\n                                129.109765625,\n                                33.132568359375\n                            ],\n                            [\n                                129.1236328125,\n                                33.06767578125\n                            ],\n                            [\n                                129.152734375,\n                                33.0033203125\n                            ],\n                            [\n                                129.18193359375,\n                                32.993115234375\n                            ],\n                            [\n                                129.153515625,\n                                32.94619140625\n                            ],\n                            [\n                                129.11162109375,\n                                32.928857421875\n                            ],\n                            [\n                                129.076953125,\n                                32.840283203125\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                129.491796875,\n                                33.223046875\n                            ],\n                            [\n                                129.42138671875,\n                                33.175830078125\n                            ],\n                            [\n                                129.37041015625,\n                                33.176025390625\n                            ],\n                            [\n                                129.4169921875,\n                                33.231103515625\n                            ],\n                            [\n                                129.42314453125,\n                                33.257373046875\n                            ],\n                            [\n                                129.4619140625,\n                                33.33125\n                            ],\n                            [\n                                129.53798828125,\n                                33.357763671875\n                            ],\n                            [\n                                129.569921875,\n                                33.36103515625\n                            ],\n                            [\n                                129.50810546875,\n                                33.284326171875\n                            ],\n                            [\n                                129.491796875,\n                                33.223046875\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                129.795703125,\n                                33.748828125\n                            ],\n                            [\n                                129.7265625,\n                                33.70732421875\n                            ],\n                            [\n                                129.6748046875,\n                                33.739697265625\n                            ],\n                            [\n                                129.7,\n                                33.82890625\n                            ],\n                            [\n                                129.71728515625,\n                                33.8583984375\n                            ],\n                            [\n                                129.7763671875,\n                                33.82919921875\n                            ],\n                            [\n                                129.795703125,\n                                33.748828125\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                131.174609375,\n                                33.602587890625\n                            ],\n                            [\n                                131.3091796875,\n                                33.57275390625\n                            ],\n                            [\n                                131.366015625,\n                                33.5708984375001\n                            ],\n                            [\n                                131.41875,\n                                33.584423828125\n                            ],\n                            [\n                                131.498828125,\n                                33.623583984375\n                            ],\n                            [\n                                131.5830078125,\n                                33.652392578125\n                            ],\n                            [\n                                131.64306640625,\n                                33.63779296875\n                            ],\n                            [\n                                131.6962890625,\n                                33.60283203125\n                            ],\n                            [\n                                131.72421875,\n                                33.55380859375\n                            ],\n                            [\n                                131.71064453125,\n                                33.5023437500001\n                            ],\n                            [\n                                131.61552734375,\n                                33.391845703125\n                            ],\n                            [\n                                131.53740234375,\n                                33.274072265625\n                            ],\n                            [\n                                131.71708984375,\n                                33.2520996093751\n                            ],\n                            [\n                                131.89658203125,\n                                33.25458984375\n                            ],\n                            [\n                                131.8546875,\n                                33.181640625\n                            ],\n                            [\n                                131.8478515625,\n                                33.11806640625\n                            ],\n                            [\n                                131.902734375,\n                                33.08779296875\n                            ],\n                            [\n                                131.94931640625,\n                                33.0470703125\n                            ],\n                            [\n                                131.93720703125,\n                                33.0101562500001\n                            ],\n                            [\n                                131.91044921875,\n                                32.973681640625\n                            ],\n                            [\n                                132.00859375,\n                                32.91904296875\n                            ],\n                            [\n                                132.0021484375,\n                                32.882373046875\n                            ],\n                            [\n                                131.97666015625,\n                                32.8439453125\n                            ],\n                            [\n                                131.73212890625,\n                                32.592822265625\n                            ],\n                            [\n                                131.6603515625,\n                                32.465625\n                            ],\n                            [\n                                131.6103515625,\n                                32.32548828125\n                            ],\n                            [\n                                131.5646484375,\n                                32.223046875\n                            ],\n                            [\n                                131.53115234375,\n                                32.116748046875\n                            ],\n                            [\n                                131.5056640625,\n                                32.001953125\n                            ],\n                            [\n                                131.46025390625,\n                                31.88349609375\n                            ],\n                            [\n                                131.47529296875,\n                                31.77841796875\n                            ],\n                            [\n                                131.4599609375,\n                                31.67080078125\n                            ],\n                            [\n                                131.33720703125,\n                                31.4046875\n                            ],\n                            [\n                                131.24970703125,\n                                31.409619140625\n                            ],\n                            [\n                                131.13974609375,\n                                31.441845703125\n                            ],\n                            [\n                                131.07080078125,\n                                31.436865234375\n                            ],\n                            [\n                                131.03515625,\n                                31.377685546875\n                            ],\n                            [\n                                131.0984375,\n                                31.25615234375\n                            ],\n                            [\n                                130.90224609375,\n                                31.112060546875\n                            ],\n                            [\n                                130.6857421875,\n                                31.01513671875\n                            ],\n                            [\n                                130.6841796875,\n                                31.05927734375\n                            ],\n                            [\n                                130.7044921875,\n                                31.094091796875\n                            ],\n                            [\n                                130.7357421875,\n                                31.1220703125\n                            ],\n                            [\n                                130.7583984375,\n                                31.155810546875\n                            ],\n                            [\n                                130.78974609375,\n                                31.269091796875\n                            ],\n                            [\n                                130.77421875,\n                                31.383203125\n                            ],\n                            [\n                                130.708984375,\n                                31.52607421875\n                            ],\n                            [\n                                130.70419921875,\n                                31.57744140625\n                            ],\n                            [\n                                130.7494140625,\n                                31.598193359375\n                            ],\n                            [\n                                130.77978515625,\n                                31.6041015625\n                            ],\n                            [\n                                130.7962890625,\n                                31.624072265625\n                            ],\n                            [\n                                130.796875,\n                                31.6712890625001\n                            ],\n                            [\n                                130.77626953125,\n                                31.706298828125\n                            ],\n                            [\n                                130.71455078125,\n                                31.71767578125\n                            ],\n                            [\n                                130.655078125,\n                                31.7184082031251\n                            ],\n                            [\n                                130.6134765625,\n                                31.6654296875\n                            ],\n                            [\n                                130.5560546875,\n                                31.5630859375\n                            ],\n                            [\n                                130.528125,\n                                31.45966796875\n                            ],\n                            [\n                                130.5404296875,\n                                31.403076171875\n                            ],\n                            [\n                                130.56591796875,\n                                31.352392578125\n                            ],\n                            [\n                                130.64453125,\n                                31.26748046875\n                            ],\n                            [\n                                130.621484375,\n                                31.2175292968751\n                            ],\n                            [\n                                130.58876953125,\n                                31.178515625\n                            ],\n                            [\n                                130.31064453125,\n                                31.26689453125\n                            ],\n                            [\n                                130.2505859375,\n                                31.273193359375\n                            ],\n                            [\n                                130.20068359375,\n                                31.29189453125\n                            ],\n                            [\n                                130.147265625,\n                                31.40849609375\n                            ],\n                            [\n                                130.260546875,\n                                31.436572265625\n                            ],\n                            [\n                                130.294140625,\n                                31.45068359375\n                            ],\n                            [\n                                130.306640625,\n                                31.4877929687501\n                            ],\n                            [\n                                130.32197265625,\n                                31.60146484375\n                            ],\n                            [\n                                130.2689453125,\n                                31.696337890625\n                            ],\n                            [\n                                130.22421875,\n                                31.730078125\n                            ],\n                            [\n                                130.187890625,\n                                31.76884765625\n                            ],\n                            [\n                                130.2109375,\n                                31.848974609375\n                            ],\n                            [\n                                130.19580078125,\n                                31.949853515625\n                            ],\n                            [\n                                130.19443359375,\n                                32.090771484375\n                            ],\n                            [\n                                130.2140625,\n                                32.1150390625\n                            ],\n                            [\n                                130.319140625,\n                                32.143505859375\n                            ],\n                            [\n                                130.394921875,\n                                32.218994140625\n                            ],\n                            [\n                                130.46201171875,\n                                32.304931640625\n                            ],\n                            [\n                                130.5603515625,\n                                32.4560546875001\n                            ],\n                            [\n                                130.64052734375,\n                                32.61923828125\n                            ],\n                            [\n                                130.56328125,\n                                32.6263671875\n                            ],\n                            [\n                                130.4978515625,\n                                32.65693359375\n                            ],\n                            [\n                                130.56943359375,\n                                32.734130859375\n                            ],\n                            [\n                                130.547265625,\n                                32.831591796875\n                            ],\n                            [\n                                130.4404296875,\n                                32.9513671875\n                            ],\n                            [\n                                130.38173828125,\n                                33.092578125\n                            ],\n                            [\n                                130.2873046875,\n                                33.15478515625\n                            ],\n                            [\n                                130.2375,\n                                33.17763671875\n                            ],\n                            [\n                                130.17685546875,\n                                33.14453125\n                            ],\n                            [\n                                130.12685546875,\n                                33.1048339843751\n                            ],\n                            [\n                                130.17314453125,\n                                33.01298828125\n                            ],\n                            [\n                                130.1677734375,\n                                32.931787109375\n                            ],\n                            [\n                                130.175,\n                                32.851318359375\n                            ],\n                            [\n                                130.22216796875,\n                                32.846826171875\n                            ],\n                            [\n                                130.280078125,\n                                32.866845703125\n                            ],\n                            [\n                                130.32646484375,\n                                32.85263671875\n                            ],\n                            [\n                                130.353515625,\n                                32.8103515625\n                            ],\n                            [\n                                130.36083984375,\n                                32.755859375\n                            ],\n                            [\n                                130.3404296875,\n                                32.70185546875\n                            ],\n                            [\n                                130.29765625,\n                                32.675\n                            ],\n                            [\n                                130.2455078125,\n                                32.6771484375\n                            ],\n                            [\n                                130.19296875,\n                                32.7062988281251\n                            ],\n                            [\n                                130.15205078125,\n                                32.7478515625\n                            ],\n                            [\n                                130.0541015625,\n                                32.77080078125\n                            ],\n                            [\n                                129.95078125,\n                                32.721728515625\n                            ],\n                            [\n                                129.8525390625,\n                                32.6217285156251\n                            ],\n                            [\n                                129.7685546875,\n                                32.57099609375\n                            ],\n                            [\n                                129.80810546875,\n                                32.6452636718751\n                            ],\n                            [\n                                129.8267578125,\n                                32.725341796875\n                            ],\n                            [\n                                129.7859375,\n                                32.781640625\n                            ],\n                            [\n                                129.6900390625,\n                                32.875244140625\n                            ],\n                            [\n                                129.6677734375,\n                                32.92939453125\n                            ],\n                            [\n                                129.6623046875,\n                                32.994921875\n                            ],\n                            [\n                                129.6791015625,\n                                33.0599609375\n                            ],\n                            [\n                                129.777734375,\n                                32.985546875\n                            ],\n                            [\n                                129.8283203125,\n                                32.89267578125\n                            ],\n                            [\n                                129.90078125,\n                                32.851904296875\n                            ],\n                            [\n                                129.99169921875,\n                                32.8515625\n                            ],\n                            [\n                                129.921875,\n                                32.98798828125\n                            ],\n                            [\n                                129.89677734375,\n                                33.0223632812501\n                            ],\n                            [\n                                129.79873046875,\n                                33.08359375\n                            ],\n                            [\n                                129.6650390625,\n                                33.18662109375\n                            ],\n                            [\n                                129.580078125,\n                                33.236279296875\n                            ],\n                            [\n                                129.61015625,\n                                33.3436523437501\n                            ],\n                            [\n                                129.6599609375,\n                                33.364990234375\n                            ],\n                            [\n                                129.7021484375,\n                                33.359814453125\n                            ],\n                            [\n                                129.844140625,\n                                33.32177734375\n                            ],\n                            [\n                                129.85751953125,\n                                33.375244140625\n                            ],\n                            [\n                                129.83662109375,\n                                33.40380859375\n                            ],\n                            [\n                                129.82568359375,\n                                33.43701171875\n                            ],\n                            [\n                                129.919140625,\n                                33.48349609375\n                            ],\n                            [\n                                130.0720703125,\n                                33.52177734375\n                            ],\n                            [\n                                130.10341796875,\n                                33.539697265625\n                            ],\n                            [\n                                130.13056640625,\n                                33.578173828125\n                            ],\n                            [\n                                130.16796875,\n                                33.5982910156251\n                            ],\n                            [\n                                130.27509765625,\n                                33.597705078125\n                            ],\n                            [\n                                130.3650390625,\n                                33.63447265625\n                            ],\n                            [\n                                130.439453125,\n                                33.734228515625\n                            ],\n                            [\n                                130.4572265625,\n                                33.78896484375\n                            ],\n                            [\n                                130.4837890625,\n                                33.834619140625\n                            ],\n                            [\n                                130.66953125,\n                                33.915478515625\n                            ],\n                            [\n                                130.715625,\n                                33.927783203125\n                            ],\n                            [\n                                130.8396484375,\n                                33.9177734375\n                            ],\n                            [\n                                130.953125,\n                                33.872021484375\n                            ],\n                            [\n                                131.00908203125,\n                                33.775830078125\n                            ],\n                            [\n                                131.05810546875,\n                                33.6728515625001\n                            ],\n                            [\n                                131.174609375,\n                                33.602587890625\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                132.266015625,\n                                33.945166015625\n                            ],\n                            [\n                                132.31455078125,\n                                33.90859375\n                            ],\n                            [\n                                132.43046875,\n                                33.92353515625\n                            ],\n                            [\n                                132.444921875,\n                                33.91318359375\n                            ],\n                            [\n                                132.41103515625,\n                                33.879931640625\n                            ],\n                            [\n                                132.3599609375,\n                                33.847021484375\n                            ],\n                            [\n                                132.26728515625,\n                                33.871484375\n                            ],\n                            [\n                                132.2087890625,\n                                33.8728515625\n                            ],\n                            [\n                                132.2005859375,\n                                33.927783203125\n                            ],\n                            [\n                                132.2080078125,\n                                33.947802734375\n                            ],\n                            [\n                                132.266015625,\n                                33.945166015625\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                132.57841796875,\n                                34.115185546875\n                            ],\n                            [\n                                132.5494140625,\n                                34.07509765625\n                            ],\n                            [\n                                132.4609375,\n                                34.087255859375\n                            ],\n                            [\n                                132.4962890625,\n                                34.12197265625\n                            ],\n                            [\n                                132.52353515625,\n                                34.1640625\n                            ],\n                            [\n                                132.54345703125,\n                                34.17265625\n                            ],\n                            [\n                                132.56015625,\n                                34.126904296875\n                            ],\n                            [\n                                132.57841796875,\n                                34.115185546875\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                129.2794921875,\n                                34.123388671875\n                            ],\n                            [\n                                129.214453125,\n                                34.0828125\n                            ],\n                            [\n                                129.18642578125,\n                                34.1450195312501\n                            ],\n                            [\n                                129.21484375,\n                                34.320654296875\n                            ],\n                            [\n                                129.337109375,\n                                34.284765625\n                            ],\n                            [\n                                129.33505859375,\n                                34.230810546875\n                            ],\n                            [\n                                129.2794921875,\n                                34.123388671875\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                134.357421875,\n                                34.25634765625\n                            ],\n                            [\n                                134.495703125,\n                                34.2147460937501\n                            ],\n                            [\n                                134.6375,\n                                34.226611328125\n                            ],\n                            [\n                                134.63525390625,\n                                34.0439453125\n                            ],\n                            [\n                                134.65537109375,\n                                33.9826171875\n                            ],\n                            [\n                                134.6953125,\n                                33.927734375\n                            ],\n                            [\n                                134.6748046875,\n                                33.847802734375\n                            ],\n                            [\n                                134.7388671875,\n                                33.8205078125\n                            ],\n                            [\n                                134.54873046875,\n                                33.729296875\n                            ],\n                            [\n                                134.37705078125,\n                                33.6083984375\n                            ],\n                            [\n                                134.30654296875,\n                                33.526806640625\n                            ],\n                            [\n                                134.24267578125,\n                                33.439453125\n                            ],\n                            [\n                                134.2056640625,\n                                33.34697265625\n                            ],\n                            [\n                                134.181640625,\n                                33.247216796875\n                            ],\n                            [\n                                134.12412109375,\n                                33.286767578125\n                            ],\n                            [\n                                133.95869140625,\n                                33.4483398437501\n                            ],\n                            [\n                                133.85400390625,\n                                33.49267578125\n                            ],\n                            [\n                                133.68564453125,\n                                33.51630859375\n                            ],\n                            [\n                                133.63203125,\n                                33.510986328125\n                            ],\n                            [\n                                133.2859375,\n                                33.3599609375\n                            ],\n                            [\n                                133.23994140625,\n                                33.249609375\n                            ],\n                            [\n                                133.14560546875,\n                                33.083154296875\n                            ],\n                            [\n                                133.10087890625,\n                                33.02822265625\n                            ],\n                            [\n                                133.051171875,\n                                33.012451171875\n                            ],\n                            [\n                                133.016015625,\n                                32.98388671875\n                            ],\n                            [\n                                132.97724609375,\n                                32.8419921875\n                            ],\n                            [\n                                132.869921875,\n                                32.75458984375\n                            ],\n                            [\n                                132.804296875,\n                                32.752001953125\n                            ],\n                            [\n                                132.6921875,\n                                32.775927734375\n                            ],\n                            [\n                                132.641796875,\n                                32.762451171875\n                            ],\n                            [\n                                132.708984375,\n                                32.902490234375\n                            ],\n                            [\n                                132.601953125,\n                                32.9195312500001\n                            ],\n                            [\n                                132.4951171875,\n                                32.9166015625\n                            ],\n                            [\n                                132.492578125,\n                                33.007666015625\n                            ],\n                            [\n                                132.42783203125,\n                                33.059375\n                            ],\n                            [\n                                132.47578125,\n                                33.12646484375\n                            ],\n                            [\n                                132.4771484375,\n                                33.18115234375\n                            ],\n                            [\n                                132.5052734375,\n                                33.211279296875\n                            ],\n                            [\n                                132.5150390625,\n                                33.25537109375\n                            ],\n                            [\n                                132.51142578125,\n                                33.29306640625\n                            ],\n                            [\n                                132.44541015625,\n                                33.30458984375\n                            ],\n                            [\n                                132.40517578125,\n                                33.33125\n                            ],\n                            [\n                                132.41279296875,\n                                33.43046875\n                            ],\n                            [\n                                132.37490234375,\n                                33.43408203125\n                            ],\n                            [\n                                132.2810546875,\n                                33.416796875\n                            ],\n                            [\n                                132.08583984375,\n                                33.34013671875\n                            ],\n                            [\n                                132.0326171875,\n                                33.339990234375\n                            ],\n                            [\n                                132.114453125,\n                                33.394580078125\n                            ],\n                            [\n                                132.287890625,\n                                33.46953125\n                            ],\n                            [\n                                132.36591796875,\n                                33.5124511718751\n                            ],\n                            [\n                                132.53603515625,\n                                33.63291015625\n                            ],\n                            [\n                                132.64306640625,\n                                33.68994140625\n                            ],\n                            [\n                                132.69892578125,\n                                33.79091796875\n                            ],\n                            [\n                                132.7162109375,\n                                33.85224609375\n                            ],\n                            [\n                                132.75234375,\n                                33.90615234375\n                            ],\n                            [\n                                132.78427734375,\n                                33.9924316406251\n                            ],\n                            [\n                                132.839453125,\n                                34.021240234375\n                            ],\n                            [\n                                132.93515625,\n                                34.0953125000001\n                            ],\n                            [\n                                132.99013671875,\n                                34.088134765625\n                            ],\n                            [\n                                133.05126953125,\n                                33.997119140625\n                            ],\n                            [\n                                133.13369140625,\n                                33.927294921875\n                            ],\n                            [\n                                133.19306640625,\n                                33.933203125\n                            ],\n                            [\n                                133.298828125,\n                                33.968994140625\n                            ],\n                            [\n                                133.3498046875,\n                                33.97705078125\n                            ],\n                            [\n                                133.4720703125,\n                                33.9728027343751\n                            ],\n                            [\n                                133.58203125,\n                                34.017138671875\n                            ],\n                            [\n                                133.6267578125,\n                                34.069384765625\n                            ],\n                            [\n                                133.64345703125,\n                                34.13466796875\n                            ],\n                            [\n                                133.60263671875,\n                                34.24384765625\n                            ],\n                            [\n                                133.65556640625,\n                                34.232861328125\n                            ],\n                            [\n                                133.70625,\n                                34.237353515625\n                            ],\n                            [\n                                133.8255859375,\n                                34.3068359375\n                            ],\n                            [\n                                133.94833984375,\n                                34.348046875\n                            ],\n                            [\n                                134.07587890625,\n                                34.3583984375\n                            ],\n                            [\n                                134.21923828125,\n                                34.31904296875\n                            ],\n                            [\n                                134.357421875,\n                                34.25634765625\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                134.35185546875,\n                                34.483642578125\n                            ],\n                            [\n                                134.333203125,\n                                34.46376953125\n                            ],\n                            [\n                                134.31533203125,\n                                34.4689453125\n                            ],\n                            [\n                                134.25185546875,\n                                34.423046875\n                            ],\n                            [\n                                134.2380859375,\n                                34.467041015625\n                            ],\n                            [\n                                134.18828125,\n                                34.496337890625\n                            ],\n                            [\n                                134.18212890625,\n                                34.51923828125\n                            ],\n                            [\n                                134.3259765625,\n                                34.534375\n                            ],\n                            [\n                                134.372265625,\n                                34.52236328125\n                            ],\n                            [\n                                134.35185546875,\n                                34.483642578125\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                134.9328125,\n                                34.288134765625\n                            ],\n                            [\n                                134.8244140625,\n                                34.2029296875\n                            ],\n                            [\n                                134.7306640625,\n                                34.20888671875\n                            ],\n                            [\n                                134.68349609375,\n                                34.2469726562501\n                            ],\n                            [\n                                134.66787109375,\n                                34.294140625\n                            ],\n                            [\n                                134.7572265625,\n                                34.3681640625\n                            ],\n                            [\n                                134.83427734375,\n                                34.47265625\n                            ],\n                            [\n                                134.9041015625,\n                                34.519091796875\n                            ],\n                            [\n                                134.9607421875,\n                                34.544921875\n                            ],\n                            [\n                                135.0046875,\n                                34.54404296875\n                            ],\n                            [\n                                134.90546875,\n                                34.398291015625\n                            ],\n                            [\n                                134.9328125,\n                                34.288134765625\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                129.38564453125,\n                                34.353662109375\n                            ],\n                            [\n                                129.36533203125,\n                                34.305517578125\n                            ],\n                            [\n                                129.2974609375,\n                                34.339599609375\n                            ],\n                            [\n                                129.26669921875,\n                                34.3704589843751\n                            ],\n                            [\n                                129.32939453125,\n                                34.521875\n                            ],\n                            [\n                                129.3220703125,\n                                34.579296875\n                            ],\n                            [\n                                129.32587890625,\n                                34.607275390625\n                            ],\n                            [\n                                129.45107421875,\n                                34.686572265625\n                            ],\n                            [\n                                129.4724609375,\n                                34.671337890625\n                            ],\n                            [\n                                129.48017578125,\n                                34.649462890625\n                            ],\n                            [\n                                129.469140625,\n                                34.61552734375\n                            ],\n                            [\n                                129.475390625,\n                                34.5404296875001\n                            ],\n                            [\n                                129.3814453125,\n                                34.416455078125\n                            ],\n                            [\n                                129.38564453125,\n                                34.353662109375\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                139.4564453125,\n                                34.726513671875\n                            ],\n                            [\n                                139.445703125,\n                                34.6795410156251\n                            ],\n                            [\n                                139.3923828125,\n                                34.689892578125\n                            ],\n                            [\n                                139.36689453125,\n                                34.7205078125\n                            ],\n                            [\n                                139.37001953125,\n                                34.775439453125\n                            ],\n                            [\n                                139.426171875,\n                                34.77587890625\n                            ],\n                            [\n                                139.4564453125,\n                                34.726513671875\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                133.3705078125,\n                                36.203857421875\n                            ],\n                            [\n                                133.32470703125,\n                                36.16650390625\n                            ],\n                            [\n                                133.2392578125,\n                                36.178759765625\n                            ],\n                            [\n                                133.18994140625,\n                                36.2326171875\n                            ],\n                            [\n                                133.20615234375,\n                                36.293408203125\n                            ],\n                            [\n                                133.295703125,\n                                36.34013671875\n                            ],\n                            [\n                                133.38125,\n                                36.24638671875\n                            ],\n                            [\n                                133.3705078125,\n                                36.203857421875\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                138.34404296875,\n                                37.822119140625\n                            ],\n                            [\n                                138.2490234375,\n                                37.819580078125\n                            ],\n                            [\n                                138.2251953125,\n                                37.82939453125\n                            ],\n                            [\n                                138.2828125,\n                                37.85419921875\n                            ],\n                            [\n                                138.287890625,\n                                37.89580078125\n                            ],\n                            [\n                                138.322265625,\n                                37.96953125\n                            ],\n                            [\n                                138.3216796875,\n                                37.9908203125\n                            ],\n                            [\n                                138.24619140625,\n                                37.994580078125\n                            ],\n                            [\n                                138.25,\n                                38.078466796875\n                            ],\n                            [\n                                138.30634765625,\n                                38.1611328125\n                            ],\n                            [\n                                138.461328125,\n                                38.291455078125\n                            ],\n                            [\n                                138.50361328125,\n                                38.3159179687501\n                            ],\n                            [\n                                138.51005859375,\n                                38.258984375\n                            ],\n                            [\n                                138.46279296875,\n                                38.12431640625\n                            ],\n                            [\n                                138.45361328125,\n                                38.0756835937501\n                            ],\n                            [\n                                138.5751953125,\n                                38.06552734375\n                            ],\n                            [\n                                138.49697265625,\n                                37.9039062500001\n                            ],\n                            [\n                                138.34404296875,\n                                37.822119140625\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                141.229296875,\n                                41.37265625\n                            ],\n                            [\n                                141.26875,\n                                41.35380859375\n                            ],\n                            [\n                                141.45546875,\n                                41.404736328125\n                            ],\n                            [\n                                141.419921875,\n                                41.251171875\n                            ],\n                            [\n                                141.4,\n                                41.096337890625\n                            ],\n                            [\n                                141.413671875,\n                                40.83935546875\n                            ],\n                            [\n                                141.43046875,\n                                40.72333984375\n                            ],\n                            [\n                                141.46279296875,\n                                40.6111328125\n                            ],\n                            [\n                                141.54228515625,\n                                40.530712890625\n                            ],\n                            [\n                                141.6462890625,\n                                40.4736328125\n                            ],\n                            [\n                                141.7970703125,\n                                40.291162109375\n                            ],\n                            [\n                                141.8779296875,\n                                40.067236328125\n                            ],\n                            [\n                                141.93505859375,\n                                39.95849609375\n                            ],\n                            [\n                                141.97783203125,\n                                39.84443359375\n                            ],\n                            [\n                                141.9908203125,\n                                39.792236328125\n                            ],\n                            [\n                                141.99189453125,\n                                39.739892578125\n                            ],\n                            [\n                                141.9791015625,\n                                39.668359375\n                            ],\n                            [\n                                141.9931640625,\n                                39.610546875\n                            ],\n                            [\n                                141.976953125,\n                                39.42880859375\n                            ],\n                            [\n                                141.90947265625,\n                                39.218701171875\n                            ],\n                            [\n                                141.90078125,\n                                39.111328125\n                            ],\n                            [\n                                141.84208984375,\n                                39.0900390625\n                            ],\n                            [\n                                141.80654296875,\n                                39.0404296875001\n                            ],\n                            [\n                                141.776171875,\n                                39.017431640625\n                            ],\n                            [\n                                141.74248046875,\n                                38.999609375\n                            ],\n                            [\n                                141.6935546875,\n                                38.995166015625\n                            ],\n                            [\n                                141.65859375,\n                                38.974853515625\n                            ],\n                            [\n                                141.6447265625,\n                                38.917919921875\n                            ],\n                            [\n                                141.622265625,\n                                38.86513671875\n                            ],\n                            [\n                                141.5796875,\n                                38.81650390625\n                            ],\n                            [\n                                141.5462890625,\n                                38.762841796875\n                            ],\n                            [\n                                141.51875,\n                                38.63203125\n                            ],\n                            [\n                                141.5087890625,\n                                38.4978515625\n                            ],\n                            [\n                                141.46748046875,\n                                38.404150390625\n                            ],\n                            [\n                                141.3681640625,\n                                38.379736328125\n                            ],\n                            [\n                                141.254296875,\n                                38.381396484375\n                            ],\n                            [\n                                141.1083984375,\n                                38.337939453125\n                            ],\n                            [\n                                141.07734375,\n                                38.312548828125\n                            ],\n                            [\n                                140.962109375,\n                                38.148876953125\n                            ],\n                            [\n                                140.92900390625,\n                                38.052880859375\n                            ],\n                            [\n                                140.9279296875,\n                                37.949609375\n                            ],\n                            [\n                                140.9599609375,\n                                37.822607421875\n                            ],\n                            [\n                                141.00341796875,\n                                37.6984375\n                            ],\n                            [\n                                141.036328125,\n                                37.467236328125\n                            ],\n                            [\n                                141.00166015625,\n                                37.1146484375\n                            ],\n                            [\n                                140.968359375,\n                                37.00205078125\n                            ],\n                            [\n                                140.8951171875,\n                                36.925732421875\n                            ],\n                            [\n                                140.8396484375,\n                                36.89033203125\n                            ],\n                            [\n                                140.791796875,\n                                36.846875\n                            ],\n                            [\n                                140.7298828125,\n                                36.731884765625\n                            ],\n                            [\n                                140.62734375,\n                                36.502783203125\n                            ],\n                            [\n                                140.61884765625,\n                                36.4453125\n                            ],\n                            [\n                                140.61923828125,\n                                36.385595703125\n                            ],\n                            [\n                                140.5916015625,\n                                36.3078125\n                            ],\n                            [\n                                140.57353515625,\n                                36.23134765625\n                            ],\n                            [\n                                140.5904296875,\n                                36.142431640625\n                            ],\n                            [\n                                140.62197265625,\n                                36.059228515625\n                            ],\n                            [\n                                140.7595703125,\n                                35.8457031250001\n                            ],\n                            [\n                                140.8134765625,\n                                35.78251953125\n                            ],\n                            [\n                                140.8740234375,\n                                35.7249511718751\n                            ],\n                            [\n                                140.6392578125,\n                                35.661279296875\n                            ],\n                            [\n                                140.596875,\n                                35.63203125\n                            ],\n                            [\n                                140.457421875,\n                                35.51025390625\n                            ],\n                            [\n                                140.412890625,\n                                35.394775390625\n                            ],\n                            [\n                                140.41650390625,\n                                35.2669921875\n                            ],\n                            [\n                                140.39296875,\n                                35.221142578125\n                            ],\n                            [\n                                140.3546875,\n                                35.1814453125\n                            ],\n                            [\n                                140.31474609375,\n                                35.155029296875\n                            ],\n                            [\n                                140.15888671875,\n                                35.096484375\n                            ],\n                            [\n                                140.0591796875,\n                                35.03828125\n                            ],\n                            [\n                                139.959765625,\n                                34.947314453125\n                            ],\n                            [\n                                139.92041015625,\n                                34.899609375\n                            ],\n                            [\n                                139.8439453125,\n                                34.914892578125\n                            ],\n                            [\n                                139.79921875,\n                                34.95693359375\n                            ],\n                            [\n                                139.84326171875,\n                                35.00986328125\n                            ],\n                            [\n                                139.8296875,\n                                35.07216796875\n                            ],\n                            [\n                                139.85146484375,\n                                35.23232421875\n                            ],\n                            [\n                                139.82646484375,\n                                35.2966796875\n                            ],\n                            [\n                                139.90615234375,\n                                35.345263671875\n                            ],\n                            [\n                                139.944140625,\n                                35.422998046875\n                            ],\n                            [\n                                140.0271484375,\n                                35.4852050781251\n                            ],\n                            [\n                                140.086328125,\n                                35.5404296875\n                            ],\n                            [\n                                140.096875,\n                                35.58515625\n                            ],\n                            [\n                                140.04365234375,\n                                35.633349609375\n                            ],\n                            [\n                                139.9875,\n                                35.668212890625\n                            ],\n                            [\n                                139.909765625,\n                                35.668359375\n                            ],\n                            [\n                                139.834765625,\n                                35.658056640625\n                            ],\n                            [\n                                139.786328125,\n                                35.612109375\n                            ],\n                            [\n                                139.7701171875,\n                                35.549560546875\n                            ],\n                            [\n                                139.77392578125,\n                                35.520361328125\n                            ],\n                            [\n                                139.7677734375,\n                                35.49482421875\n                            ],\n                            [\n                                139.65,\n                                35.409130859375\n                            ],\n                            [\n                                139.66552734375,\n                                35.3194824218751\n                            ],\n                            [\n                                139.7,\n                                35.273974609375\n                            ],\n                            [\n                                139.74404296875,\n                                35.252392578125\n                            ],\n                            [\n                                139.730859375,\n                                35.221533203125\n                            ],\n                            [\n                                139.675,\n                                35.149267578125\n                            ],\n                            [\n                                139.6359375,\n                                35.142138671875\n                            ],\n                            [\n                                139.5640625,\n                                35.2432617187501\n                            ],\n                            [\n                                139.4744140625,\n                                35.2985351562499\n                            ],\n                            [\n                                139.3634765625,\n                                35.298095703125\n                            ],\n                            [\n                                139.2494140625,\n                                35.27802734375\n                            ],\n                            [\n                                139.1626953125,\n                                35.2107421875\n                            ],\n                            [\n                                139.13408203125,\n                                35.1548828125\n                            ],\n                            [\n                                139.1158203125,\n                                35.097119140625\n                            ],\n                            [\n                                139.12197265625,\n                                34.956494140625\n                            ],\n                            [\n                                139.08603515625,\n                                34.83916015625\n                            ],\n                            [\n                                139.015625,\n                                34.73603515625\n                            ],\n                            [\n                                138.9826171875,\n                                34.698388671875\n                            ],\n                            [\n                                138.8966796875,\n                                34.62841796875\n                            ],\n                            [\n                                138.8375,\n                                34.61923828125\n                            ],\n                            [\n                                138.7951171875,\n                                34.651025390625\n                            ],\n                            [\n                                138.76103515625,\n                                34.69921875\n                            ],\n                            [\n                                138.8044921875,\n                                34.875732421875\n                            ],\n                            [\n                                138.802734375,\n                                34.9748046875\n                            ],\n                            [\n                                138.90361328125,\n                                35.0252441406251\n                            ],\n                            [\n                                138.8208984375,\n                                35.095703125\n                            ],\n                            [\n                                138.71962890625,\n                                35.124072265625\n                            ],\n                            [\n                                138.5771484375,\n                                35.086474609375\n                            ],\n                            [\n                                138.53701171875,\n                                35.044140625\n                            ],\n                            [\n                                138.5095703125,\n                                34.987158203125\n                            ],\n                            [\n                                138.43310546875,\n                                34.915185546875\n                            ],\n                            [\n                                138.3486328125,\n                                34.847705078125\n                            ],\n                            [\n                                138.25322265625,\n                                34.7326660156251\n                            ],\n                            [\n                                138.1890625,\n                                34.596337890625\n                            ],\n                            [\n                                137.97900390625,\n                                34.64091796875\n                            ],\n                            [\n                                137.8642578125,\n                                34.65087890625\n                            ],\n                            [\n                                137.74853515625,\n                                34.647412109375\n                            ],\n                            [\n                                137.543359375,\n                                34.6642089843751\n                            ],\n                            [\n                                137.31806640625,\n                                34.636376953125\n                            ],\n                            [\n                                137.06171875,\n                                34.5828125\n                            ],\n                            [\n                                137.07705078125,\n                                34.621435546875\n                            ],\n                            [\n                                137.28779296875,\n                                34.703515625\n                            ],\n                            [\n                                137.29541015625,\n                                34.727587890625\n                            ],\n                            [\n                                137.2751953125,\n                                34.772509765625\n                            ],\n                            [\n                                137.22265625,\n                                34.77470703125\n                            ],\n                            [\n                                137.09658203125,\n                                34.759033203125\n                            ],\n                            [\n                                137.0322265625,\n                                34.76591796875\n                            ],\n                            [\n                                137.00595703125,\n                                34.814111328125\n                            ],\n                            [\n                                136.96328125,\n                                34.834912109375\n                            ],\n                            [\n                                136.934765625,\n                                34.815185546875\n                            ],\n                            [\n                                136.944140625,\n                                34.721533203125\n                            ],\n                            [\n                                136.912890625,\n                                34.709033203125\n                            ],\n                            [\n                                136.8712890625,\n                                34.73310546875\n                            ],\n                            [\n                                136.8845703125,\n                                34.805859375\n                            ],\n                            [\n                                136.85615234375,\n                                34.9125\n                            ],\n                            [\n                                136.8529296875,\n                                34.9787109375\n                            ],\n                            [\n                                136.8970703125,\n                                35.035546875\n                            ],\n                            [\n                                136.85185546875,\n                                35.059521484375\n                            ],\n                            [\n                                136.80419921875,\n                                35.05029296875\n                            ],\n                            [\n                                136.7435546875,\n                                35.022998046875\n                            ],\n                            [\n                                136.6900390625,\n                                34.984130859375\n                            ],\n                            [\n                                136.576953125,\n                                34.78955078125\n                            ],\n                            [\n                                136.5330078125,\n                                34.678369140625\n                            ],\n                            [\n                                136.6158203125,\n                                34.5890625\n                            ],\n                            [\n                                136.8416015625,\n                                34.464208984375\n                            ],\n                            [\n                                136.8802734375,\n                                34.4335937500001\n                            ],\n                            [\n                                136.88115234375,\n                                34.3804687500001\n                            ],\n                            [\n                                136.8537109375,\n                                34.324072265625\n                            ],\n                            [\n                                136.7921875,\n                                34.299267578125\n                            ],\n                            [\n                                136.54443359375,\n                                34.25771484375\n                            ],\n                            [\n                                136.3298828125,\n                                34.1768554687501\n                            ],\n                            [\n                                136.26787109375,\n                                34.0948730468751\n                            ],\n                            [\n                                136.07255859375,\n                                33.77822265625\n                            ],\n                            [\n                                135.9162109375,\n                                33.56171875\n                            ],\n                            [\n                                135.6953125,\n                                33.486962890625\n                            ],\n                            [\n                                135.45283203125,\n                                33.5533691406251\n                            ],\n                            [\n                                135.39423828125,\n                                33.628759765625\n                            ],\n                            [\n                                135.34677734375,\n                                33.72197265625\n                            ],\n                            [\n                                135.256640625,\n                                33.80625\n                            ],\n                            [\n                                135.175390625,\n                                33.898046875\n                            ],\n                            [\n                                135.1279296875,\n                                34.006982421875\n                            ],\n                            [\n                                135.1353515625,\n                                34.1826171875\n                            ],\n                            [\n                                135.10009765625,\n                                34.28837890625\n                            ],\n                            [\n                                135.13193359375,\n                                34.316552734375\n                            ],\n                            [\n                                135.265625,\n                                34.380810546875\n                            ],\n                            [\n                                135.30927734375,\n                                34.416796875\n                            ],\n                            [\n                                135.384765625,\n                                34.500439453125\n                            ],\n                            [\n                                135.41181640625,\n                                34.5469726562501\n                            ],\n                            [\n                                135.41591796875,\n                                34.61748046875\n                            ],\n                            [\n                                135.35517578125,\n                                34.654296875\n                            ],\n                            [\n                                135.1982421875,\n                                34.6529296875001\n                            ],\n                            [\n                                135.04169921875,\n                                34.631005859375\n                            ],\n                            [\n                                134.9298828125,\n                                34.66181640625\n                            ],\n                            [\n                                134.7849609375,\n                                34.7470703125001\n                            ],\n                            [\n                                134.7400390625,\n                                34.765234375\n                            ],\n                            [\n                                134.5837890625,\n                                34.77060546875\n                            ],\n                            [\n                                134.472265625,\n                                34.75478515625\n                            ],\n                            [\n                                134.3626953125,\n                                34.723681640625\n                            ],\n                            [\n                                134.246875,\n                                34.7138671875\n                            ],\n                            [\n                                134.20830078125,\n                                34.69765625\n                            ],\n                            [\n                                134.07451171875,\n                                34.593115234375\n                            ],\n                            [\n                                133.96826171875,\n                                34.527294921875\n                            ],\n                            [\n                                133.8763671875,\n                                34.4946289062501\n                            ],\n                            [\n                                133.6779296875,\n                                34.485888671875\n                            ],\n                            [\n                                133.57861328125,\n                                34.464697265625\n                            ],\n                            [\n                                133.4744140625,\n                                34.430126953125\n                            ],\n                            [\n                                133.4453125,\n                                34.433154296875\n                            ],\n                            [\n                                133.33564453125,\n                                34.3853515625\n                            ],\n                            [\n                                133.209765625,\n                                34.343994140625\n                            ],\n                            [\n                                133.1423828125,\n                                34.30244140625\n                            ],\n                            [\n                                133.0189453125,\n                                34.32958984375\n                            ],\n                            [\n                                132.774609375,\n                                34.255224609375\n                            ],\n                            [\n                                132.65654296875,\n                                34.24609375\n                            ],\n                            [\n                                132.53447265625,\n                                34.287060546875\n                            ],\n                            [\n                                132.4212890625,\n                                34.353369140625\n                            ],\n                            [\n                                132.31259765625,\n                                34.324951171875\n                            ],\n                            [\n                                132.2380859375,\n                                34.227001953125\n                            ],\n                            [\n                                132.201953125,\n                                34.03203125\n                            ],\n                            [\n                                132.159375,\n                                33.94423828125\n                            ],\n                            [\n                                132.146484375,\n                                33.83876953125\n                            ],\n                            [\n                                132.090234375,\n                                33.85546875\n                            ],\n                            [\n                                131.76318359375,\n                                34.045263671875\n                            ],\n                            [\n                                131.74052734375,\n                                34.05205078125\n                            ],\n                            [\n                                131.476171875,\n                                34.019384765625\n                            ],\n                            [\n                                131.40791015625,\n                                34.00361328125\n                            ],\n                            [\n                                131.32275390625,\n                                33.965185546875\n                            ],\n                            [\n                                131.2326171875,\n                                33.947998046875\n                            ],\n                            [\n                                131.150390625,\n                                33.975634765625\n                            ],\n                            [\n                                131.071875,\n                                34.020654296875\n                            ],\n                            [\n                                130.99638671875,\n                                34.007275390625\n                            ],\n                            [\n                                130.91884765625,\n                                33.975732421875\n                            ],\n                            [\n                                130.8892578125,\n                                34.26181640625\n                            ],\n                            [\n                                130.904296875,\n                                34.299560546875\n                            ],\n                            [\n                                130.95185546875,\n                                34.34970703125\n                            ],\n                            [\n                                131.00419921875,\n                                34.392578125\n                            ],\n                            [\n                                131.1322265625,\n                                34.407373046875\n                            ],\n                            [\n                                131.26181640625,\n                                34.3934570312501\n                            ],\n                            [\n                                131.35439453125,\n                                34.4131835937501\n                            ],\n                            [\n                                131.43251953125,\n                                34.4698242187501\n                            ],\n                            [\n                                131.5150390625,\n                                34.550146484375\n                            ],\n                            [\n                                131.6080078125,\n                                34.615478515625\n                            ],\n                            [\n                                131.73408203125,\n                                34.66708984375\n                            ],\n                            [\n                                131.8560546875,\n                                34.726318359375\n                            ],\n                            [\n                                131.9630859375,\n                                34.809375\n                            ],\n                            [\n                                132.06474609375,\n                                34.9\n                            ],\n                            [\n                                132.158203125,\n                                34.96650390625\n                            ],\n                            [\n                                132.2595703125,\n                                35.022314453125\n                            ],\n                            [\n                                132.4140625,\n                                35.156298828125\n                            ],\n                            [\n                                132.61904296875,\n                                35.3068359375\n                            ],\n                            [\n                                132.69765625,\n                                35.418310546875\n                            ],\n                            [\n                                132.74658203125,\n                                35.4490234375\n                            ],\n                            [\n                                132.92294921875,\n                                35.511279296875\n                            ],\n                            [\n                                133.15693359375,\n                                35.5588378906251\n                            ],\n                            [\n                                133.2671875,\n                                35.55654296875\n                            ],\n                            [\n                                133.37646484375,\n                                35.458837890625\n                            ],\n                            [\n                                133.4353515625,\n                                35.472216796875\n                            ],\n                            [\n                                133.494921875,\n                                35.4974609375\n                            ],\n                            [\n                                133.6154296875,\n                                35.51142578125\n                            ],\n                            [\n                                133.73935546875,\n                                35.495263671875\n                            ],\n                            [\n                                133.86025390625,\n                                35.494873046875\n                            ],\n                            [\n                                133.98125,\n                                35.5072265625\n                            ],\n                            [\n                                134.2140625,\n                                35.5392578125\n                            ],\n                            [\n                                134.3365234375,\n                                35.5779296875\n                            ],\n                            [\n                                134.4560546875,\n                                35.6279296875\n                            ],\n                            [\n                                134.8822265625,\n                                35.663232421875\n                            ],\n                            [\n                                135.17431640625,\n                                35.7470703125\n                            ],\n                            [\n                                135.2205078125,\n                                35.74111328125\n                            ],\n                            [\n                                135.2654296875,\n                                35.72177734375\n                            ],\n                            [\n                                135.26875,\n                                35.65966796875\n                            ],\n                            [\n                                135.23203125,\n                                35.59189453125\n                            ],\n                            [\n                                135.2677734375,\n                                35.55087890625\n                            ],\n                            [\n                                135.326953125,\n                                35.525537109375\n                            ],\n                            [\n                                135.60185546875,\n                                35.517724609375\n                            ],\n                            [\n                                135.6802734375,\n                                35.503125\n                            ],\n                            [\n                                135.79501953125,\n                                35.54951171875\n                            ],\n                            [\n                                135.903125,\n                                35.606884765625\n                            ],\n                            [\n                                136.0162109375,\n                                35.68251953125\n                            ],\n                            [\n                                136.0953125,\n                                35.767626953125\n                            ],\n                            [\n                                136.022265625,\n                                35.87412109375\n                            ],\n                            [\n                                136.00625,\n                                35.990576171875\n                            ],\n                            [\n                                136.06748046875,\n                                36.116845703125\n                            ],\n                            [\n                                136.15625,\n                                36.22333984375\n                            ],\n                            [\n                                136.26181640625,\n                                36.2876953125\n                            ],\n                            [\n                                136.358984375,\n                                36.361767578125\n                            ],\n                            [\n                                136.555859375,\n                                36.57197265625\n                            ],\n                            [\n                                136.69814453125,\n                                36.742041015625\n                            ],\n                            [\n                                136.74931640625,\n                                36.951025390625\n                            ],\n                            [\n                                136.71923828125,\n                                37.198388671875\n                            ],\n                            [\n                                136.84345703125,\n                                37.38212890625\n                            ],\n                            [\n                                136.9623046875,\n                                37.413671875\n                            ],\n                            [\n                                137.1986328125,\n                                37.4974609375\n                            ],\n                            [\n                                137.32265625,\n                                37.5220703125\n                            ],\n                            [\n                                137.3412109375,\n                                37.48544921875\n                            ],\n                            [\n                                137.3375,\n                                37.437451171875\n                            ],\n                            [\n                                137.15205078125,\n                                37.283154296875\n                            ],\n                            [\n                                137.04580078125,\n                                37.2197265625\n                            ],\n                            [\n                                136.9822265625,\n                                37.200048828125\n                            ],\n                            [\n                                136.9240234375,\n                                37.1719726562501\n                            ],\n                            [\n                                136.89990234375,\n                                37.11767578125\n                            ],\n                            [\n                                136.99443359375,\n                                37.0267578125\n                            ],\n                            [\n                                137.0185546875,\n                                36.959619140625\n                            ],\n                            [\n                                137.0126953125,\n                                36.8951171875001\n                            ],\n                            [\n                                137.01669921875,\n                                36.83720703125\n                            ],\n                            [\n                                137.12373046875,\n                                36.774072265625\n                            ],\n                            [\n                                137.2462890625,\n                                36.753173828125\n                            ],\n                            [\n                                137.29765625,\n                                36.753759765625\n                            ],\n                            [\n                                137.342578125,\n                                36.770361328125\n                            ],\n                            [\n                                137.4826171875,\n                                36.924755859375\n                            ],\n                            [\n                                137.5140625,\n                                36.9515625\n                            ],\n                            [\n                                137.91318359375,\n                                37.064599609375\n                            ],\n                            [\n                                138.1095703125,\n                                37.15107421875\n                            ],\n                            [\n                                138.21806640625,\n                                37.173388671875\n                            ],\n                            [\n                                138.319921875,\n                                37.218408203125\n                            ],\n                            [\n                                138.54833984375,\n                                37.392138671875\n                            ],\n                            [\n                                138.6328125,\n                                37.47216796875\n                            ],\n                            [\n                                138.709375,\n                                37.56064453125\n                            ],\n                            [\n                                138.77060546875,\n                                37.663427734375\n                            ],\n                            [\n                                138.81884765625,\n                                37.77470703125\n                            ],\n                            [\n                                138.88505859375,\n                                37.8439453125\n                            ],\n                            [\n                                139.24716796875,\n                                38.00908203125\n                            ],\n                            [\n                                139.3638671875,\n                                38.0990234375\n                            ],\n                            [\n                                139.4009765625,\n                                38.142578125\n                            ],\n                            [\n                                139.44580078125,\n                                38.26875\n                            ],\n                            [\n                                139.4767578125,\n                                38.3998046875\n                            ],\n                            [\n                                139.52080078125,\n                                38.5025390625001\n                            ],\n                            [\n                                139.58017578125,\n                                38.598876953125\n                            ],\n                            [\n                                139.659765625,\n                                38.697021484375\n                            ],\n                            [\n                                139.74912109375,\n                                38.788134765625\n                            ],\n                            [\n                                139.801953125,\n                                38.881591796875\n                            ],\n                            [\n                                139.87861328125,\n                                39.104931640625\n                            ],\n                            [\n                                139.9123046875,\n                                39.228564453125\n                            ],\n                            [\n                                139.93857421875,\n                                39.27314453125\n                            ],\n                            [\n                                139.9771484375,\n                                39.31064453125\n                            ],\n                            [\n                                140.01083984375,\n                                39.358056640625\n                            ],\n                            [\n                                140.0365234375,\n                                39.4111328125\n                            ],\n                            [\n                                140.04814453125,\n                                39.463720703125\n                            ],\n                            [\n                                140.06474609375,\n                                39.6244140625\n                            ],\n                            [\n                                140.0546875,\n                                39.749267578125\n                            ],\n                            [\n                                139.9947265625,\n                                39.855078125\n                            ],\n                            [\n                                139.94521484375,\n                                39.885107421875\n                            ],\n                            [\n                                139.8912109375,\n                                39.886865234375\n                            ],\n                            [\n                                139.8103515625,\n                                39.877734375\n                            ],\n                            [\n                                139.74150390625,\n                                39.920849609375\n                            ],\n                            [\n                                139.75546875,\n                                39.958935546875\n                            ],\n                            [\n                                139.82568359375,\n                                39.966015625\n                            ],\n                            [\n                                139.8736328125,\n                                39.9856933593751\n                            ],\n                            [\n                                139.9080078125,\n                                40.021728515625\n                            ],\n                            [\n                                139.9724609375,\n                                40.136962890625\n                            ],\n                            [\n                                140.0111328125,\n                                40.2603515625001\n                            ],\n                            [\n                                140.014453125,\n                                40.314892578125\n                            ],\n                            [\n                                139.9640625,\n                                40.414306640625\n                            ],\n                            [\n                                139.92392578125,\n                                40.53388671875\n                            ],\n                            [\n                                139.9228515625,\n                                40.5984375\n                            ],\n                            [\n                                139.96669921875,\n                                40.67275390625\n                            ],\n                            [\n                                140.029296875,\n                                40.733154296875\n                            ],\n                            [\n                                140.0853515625,\n                                40.74736328125\n                            ],\n                            [\n                                140.14609375,\n                                40.7515625\n                            ],\n                            [\n                                140.20126953125,\n                                40.77490234375\n                            ],\n                            [\n                                140.25234375,\n                                40.8087890625\n                            ],\n                            [\n                                140.28125,\n                                40.84609375\n                            ],\n                            [\n                                140.32626953125,\n                                40.94765625\n                            ],\n                            [\n                                140.3435546875,\n                                41.0056640625\n                            ],\n                            [\n                                140.315234375,\n                                41.160888671875\n                            ],\n                            [\n                                140.34443359375,\n                                41.2033203125\n                            ],\n                            [\n                                140.3859375,\n                                41.22978515625\n                            ],\n                            [\n                                140.44130859375,\n                                41.20966796875\n                            ],\n                            [\n                                140.498046875,\n                                41.2056640625\n                            ],\n                            [\n                                140.56416015625,\n                                41.21181640625\n                            ],\n                            [\n                                140.62763671875,\n                                41.19541015625\n                            ],\n                            [\n                                140.6396484375,\n                                41.155615234375\n                            ],\n                            [\n                                140.67939453125,\n                                40.89326171875\n                            ],\n                            [\n                                140.70244140625,\n                                40.8578125\n                            ],\n                            [\n                                140.7486328125,\n                                40.830322265625\n                            ],\n                            [\n                                140.80078125,\n                                40.834326171875\n                            ],\n                            [\n                                140.84580078125,\n                                40.875146484375\n                            ],\n                            [\n                                140.876171875,\n                                40.9295410156251\n                            ],\n                            [\n                                140.93603515625,\n                                40.940771484375\n                            ],\n                            [\n                                141.1185546875,\n                                40.882275390625\n                            ],\n                            [\n                                141.183203125,\n                                40.9240234375\n                            ],\n                            [\n                                141.225390625,\n                                40.9884765625\n                            ],\n                            [\n                                141.262109375,\n                                41.102685546875\n                            ],\n                            [\n                                141.24423828125,\n                                41.205615234375\n                            ],\n                            [\n                                141.200390625,\n                                41.243603515625\n                            ],\n                            [\n                                141.155078125,\n                                41.23671875\n                            ],\n                            [\n                                141.1150390625,\n                                41.20849609375\n                            ],\n                            [\n                                141.07041015625,\n                                41.19306640625\n                            ],\n                            [\n                                140.8005859375,\n                                41.138818359375\n                            ],\n                            [\n                                140.80185546875,\n                                41.253662109375\n                            ],\n                            [\n                                140.8595703125,\n                                41.425439453125\n                            ],\n                            [\n                                140.89150390625,\n                                41.47978515625\n                            ],\n                            [\n                                140.9369140625,\n                                41.50556640625\n                            ],\n                            [\n                                141.0501953125,\n                                41.4757324218751\n                            ],\n                            [\n                                141.105859375,\n                                41.455859375\n                            ],\n                            [\n                                141.229296875,\n                                41.37265625\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                139.48125,\n                                42.081005859375\n                            ],\n                            [\n                                139.4583984375,\n                                42.075634765625\n                            ],\n                            [\n                                139.4345703125,\n                                42.08408203125\n                            ],\n                            [\n                                139.4115234375,\n                                42.15966796875\n                            ],\n                            [\n                                139.43134765625,\n                                42.199560546875\n                            ],\n                            [\n                                139.49580078125,\n                                42.22744140625\n                            ],\n                            [\n                                139.5583984375,\n                                42.235205078125\n                            ],\n                            [\n                                139.505078125,\n                                42.09638671875\n                            ],\n                            [\n                                139.48125,\n                                42.081005859375\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                141.29541015625,\n                                45.1193359375\n                            ],\n                            [\n                                141.2259765625,\n                                45.11220703125\n                            ],\n                            [\n                                141.1453125,\n                                45.15390625\n                            ],\n                            [\n                                141.1353515625,\n                                45.206201171875\n                            ],\n                            [\n                                141.19375,\n                                45.2478515625\n                            ],\n                            [\n                                141.25185546875,\n                                45.232470703125\n                            ],\n                            [\n                                141.31005859375,\n                                45.178564453125\n                            ],\n                            [\n                                141.32919921875,\n                                45.15048828125\n                            ],\n                            [\n                                141.29541015625,\n                                45.1193359375\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                141.07275390625,\n                                45.332861328125\n                            ],\n                            [\n                                141.033984375,\n                                45.2693359375\n                            ],\n                            [\n                                140.98212890625,\n                                45.36376953125\n                            ],\n                            [\n                                140.9716796875,\n                                45.465478515625\n                            ],\n                            [\n                                141.00166015625,\n                                45.4648437500001\n                            ],\n                            [\n                                141.05673828125,\n                                45.449560546875\n                            ],\n                            [\n                                141.069921875,\n                                45.4\n                            ],\n                            [\n                                141.07275390625,\n                                45.332861328125\n                            ]\n                        ]\n                    ],\n                    [\n                        [\n                            [\n                                143.82431640625,\n                                44.1169921875\n                            ],\n                            [\n                                143.94951171875,\n                                44.1119140625\n                            ],\n                            [\n                                144.00546875,\n                                44.116650390625\n                            ],\n                            [\n                                144.1013671875,\n                                44.1015625\n                            ],\n                            [\n                                144.4818359375,\n                                43.949560546875\n                            ],\n                            [\n                                144.5966796875,\n                                43.930224609375\n                            ],\n                            [\n                                144.715234375,\n                                43.927978515625\n                            ],\n                            [\n                                144.79853515625,\n                                43.940234375\n                            ],\n                            [\n                                144.871875,\n                                43.98193359375\n                            ],\n                            [\n                                145.1015625,\n                                44.166162109375\n                            ],\n                            [\n                                145.3427734375,\n                                44.33388671875\n                            ],\n                            [\n                                145.36953125,\n                                44.327392578125\n                            ],\n                            [\n                                145.36962890625,\n                                44.281298828125\n                            ],\n                            [\n                                145.351953125,\n                                44.22978515625\n                            ],\n                            [\n                                145.24521484375,\n                                44.076171875\n                            ],\n                            [\n                                145.1263671875,\n                                43.869384765625\n                            ],\n                            [\n                                145.10107421875,\n                                43.7645507812501\n                            ],\n                            [\n                                145.1396484375,\n                                43.6625\n                            ],\n                            [\n                                145.2140625,\n                                43.57822265625\n                            ],\n                            [\n                                145.27294921875,\n                                43.4628906250001\n                            ],\n                            [\n                                145.3408203125,\n                                43.3025390625\n                            ],\n                            [\n                                145.4361328125,\n                                43.2822265625\n                            ],\n                            [\n                                145.487890625,\n                                43.279736328125\n                            ],\n                            [\n                                145.58330078125,\n                                43.327783203125\n                            ],\n                            [\n                                145.6736328125,\n                                43.3888671875\n                            ],\n                            [\n                                145.75126953125,\n                                43.3962890625\n                            ],\n                            [\n                                145.8330078125,\n                                43.3859375\n                            ],\n                            [\n                                145.7255859375,\n                                43.3434570312499\n                            ],\n                            [\n                                145.62421875,\n                                43.29130859375\n                            ],\n                            [\n                                145.53740234375,\n                                43.19267578125\n                            ],\n                            [\n                                145.505078125,\n                                43.17421875\n                            ],\n                            [\n                                145.40478515625,\n                                43.1802734375\n                            ],\n                            [\n                                145.3474609375,\n                                43.176708984375\n                            ],\n                            [\n                                145.230078125,\n                                43.1354980468751\n                            ],\n                            [\n                                145.1271484375,\n                                43.0888671875001\n                            ],\n                            [\n                                145.02880859375,\n                                43.031640625\n                            ],\n                            [\n                                144.92138671875,\n                                43.000927734375\n                            ],\n                            [\n                                144.80712890625,\n                                42.993701171875\n                            ],\n                            [\n                                144.63076171875,\n                                42.946923828125\n                            ],\n                            [\n                                144.5162109375,\n                                42.943603515625\n                            ],\n                            [\n                                144.3015625,\n                                42.984423828125\n                            ],\n                            [\n                                144.197265625,\n                                42.9736328125\n                            ],\n                            [\n                                143.9693359375,\n                                42.881396484375\n                            ],\n                            [\n                                143.762109375,\n                                42.74814453125\n                            ],\n                            [\n                                143.58095703125,\n                                42.59873046875\n                            ],\n                            [\n                                143.4294921875,\n                                42.418896484375\n                            ],\n                            [\n                                143.36865234375,\n                                42.325146484375\n                            ],\n                            [\n                                143.33212890625,\n                                42.2203613281251\n                            ],\n                            [\n                                143.3271484375,\n                                42.1510253906251\n                            ],\n                            [\n                                143.313671875,\n                                42.084326171875\n                            ],\n                            [\n                                143.2787109375,\n                                42.037841796875\n                            ],\n                            [\n                                143.2365234375,\n                                42.0001953125\n                            ],\n                            [\n                                143.11171875,\n                                42.022216796875\n                            ],\n                            [\n                                142.90634765625,\n                                42.1183593749999\n                            ],\n                            [\n                                142.508203125,\n                                42.257958984375\n                            ],\n                            [\n                                142.087890625,\n                                42.471728515625\n                            ],\n                            [\n                                141.8513671875,\n                                42.579052734375\n                            ],\n                            [\n                                141.406640625,\n                                42.546923828125\n                            ],\n                            [\n                                140.9861328125,\n                                42.342138671875\n                            ],\n                            [\n                                140.9484375,\n                                42.3595703125\n                            ],\n                            [\n                                140.78759765625,\n                                42.5\n                            ],\n                            [\n                                140.709765625,\n                                42.5556152343749\n                            ],\n                            [\n                                140.616796875,\n                                42.571337890625\n                            ],\n                            [\n                                140.54765625,\n                                42.56953125\n                            ],\n                            [\n                                140.48046875,\n                                42.559375\n                            ],\n                            [\n                                140.38544921875,\n                                42.487158203125\n                            ],\n                            [\n                                140.3505859375,\n                                42.435107421875\n                            ],\n                            [\n                                140.32353515625,\n                                42.3760742187501\n                            ],\n                            [\n                                140.315234375,\n                                42.33427734375\n                            ],\n                            [\n                                140.32666015625,\n                                42.293359375\n                            ],\n                            [\n                                140.4166015625,\n                                42.200732421875\n                            ],\n                            [\n                                140.5275390625,\n                                42.131787109375\n                            ],\n                            [\n                                140.577734375,\n                                42.11865234375\n                            ],\n                            [\n                                140.68427734375,\n                                42.123486328125\n                            ],\n                            [\n                                140.7337890625,\n                                42.116357421875\n                            ],\n                            [\n                                140.9123046875,\n                                41.977783203125\n                            ],\n                            [\n                                141.10771484375,\n                                41.8480468750001\n                            ],\n                            [\n                                141.1509765625,\n                                41.805078125\n                            ],\n                            [\n                                141.0787109375,\n                                41.759814453125\n                            ],\n                            [\n                                140.99951171875,\n                                41.7374023437501\n                            ],\n                            [\n                                140.90751953125,\n                                41.74326171875\n                            ],\n                            [\n                                140.81640625,\n                                41.7604003906251\n                            ],\n                            [\n                                140.65986328125,\n                                41.815576171875\n                            ],\n                            [\n                                140.59296875,\n                                41.7685546875\n                            ],\n                            [\n                                140.48916015625,\n                                41.67216796875\n                            ],\n                            [\n                                140.431640625,\n                                41.5673828125\n                            ],\n                            [\n                                140.3849609375,\n                                41.519287109375\n                            ],\n                            [\n                                140.2701171875,\n                                41.456005859375\n                            ],\n                            [\n                                140.1486328125,\n                                41.4232421875\n                            ],\n                            [\n                                140.08515625,\n                                41.43408203125\n                            ],\n                            [\n                                140.03662109375,\n                                41.473779296875\n                            ],\n                            [\n                                140.0091796875,\n                                41.521337890625\n                            ],\n                            [\n                                139.9953125,\n                                41.576416015625\n                            ],\n                            [\n                                140.0212890625,\n                                41.695751953125\n                            ],\n                            [\n                                140.0841796875,\n                                41.80322265625\n                            ],\n                            [\n                                140.1083984375,\n                                41.912939453125\n                            ],\n                            [\n                                140.0568359375,\n                                42.067333984375\n                            ],\n                            [\n                                140.02412109375,\n                                42.099560546875\n                            ],\n                            [\n                                139.8951171875,\n                                42.1900390625\n                            ],\n                            [\n                                139.83544921875,\n                                42.278076171875\n                            ],\n                            [\n                                139.8208984375,\n                                42.38759765625\n                            ],\n                            [\n                                139.828515625,\n                                42.44814453125\n                            ],\n                            [\n                                139.86015625,\n                                42.58173828125\n                            ],\n                            [\n                                139.89111328125,\n                                42.64921875\n                            ],\n                            [\n                                139.9505859375,\n                                42.671435546875\n                            ],\n                            [\n                                140.0150390625,\n                                42.684765625\n                            ],\n                            [\n                                140.1146484375,\n                                42.732958984375\n                            ],\n                            [\n                                140.22412109375,\n                                42.7955078125\n                            ],\n                            [\n                                140.32861328125,\n                                42.866845703125\n                            ],\n                            [\n                                140.4322265625,\n                                42.9541015625001\n                            ],\n                            [\n                                140.48642578125,\n                                43.04990234375\n                            ],\n                            [\n                                140.3974609375,\n                                43.1673339843751\n                            ],\n                            [\n                                140.379296875,\n                                43.237109375\n                            ],\n                            [\n                                140.3923828125,\n                                43.303125\n                            ],\n                            [\n                                140.4869140625,\n                                43.33818359375\n                            ],\n                            [\n                                140.5845703125,\n                                43.31171875\n                            ],\n                            [\n                                140.7806640625,\n                                43.214990234375\n                            ],\n                            [\n                                140.819140625,\n                                43.20546875\n                            ],\n                            [\n                                140.95380859375,\n                                43.2009765625\n                            ],\n                            [\n                                141.13818359375,\n                                43.1799316406251\n                            ],\n                            [\n                                141.24501953125,\n                                43.18505859375\n                            ],\n                            [\n                                141.2962890625,\n                                43.199658203125\n                            ],\n                            [\n                                141.37412109375,\n                                43.279638671875\n                            ],\n                            [\n                                141.4123046875,\n                                43.381494140625\n                            ],\n                            [\n                                141.39833984375,\n                                43.5125\n                            ],\n                            [\n                                141.39765625,\n                                43.642626953125\n                            ],\n                            [\n                                141.44677734375,\n                                43.7486328125\n                            ],\n                            [\n                                141.60068359375,\n                                43.918994140625\n                            ],\n                            [\n                                141.6447265625,\n                                44.01943359375\n                            ],\n                            [\n                                141.66083984375,\n                                44.263623046875\n                            ],\n                            [\n                                141.71630859375,\n                                44.37119140625\n                            ],\n                            [\n                                141.7609375,\n                                44.48251953125\n                            ],\n                            [\n                                141.7822265625,\n                                44.716357421875\n                            ],\n                            [\n                                141.71904296875,\n                                44.941064453125\n                            ],\n                            [\n                                141.65576171875,\n                                45.051220703125\n                            ],\n                            [\n                                141.5830078125,\n                                45.15595703125\n                            ],\n                            [\n                                141.59375,\n                                45.25595703125\n                            ],\n                            [\n                                141.6525390625,\n                                45.3486328125\n                            ],\n                            [\n                                141.65400390625,\n                                45.3765625\n                            ],\n                            [\n                                141.66796875,\n                                45.40126953125\n                            ],\n                            [\n                                141.778125,\n                                45.418896484375\n                            ],\n                            [\n                                141.8294921875,\n                                45.43876953125\n                            ],\n                            [\n                                141.8787109375,\n                                45.48330078125\n                            ],\n                            [\n                                141.9376953125,\n                                45.509521484375\n                            ],\n                            [\n                                141.980859375,\n                                45.48349609375\n                            ],\n                            [\n                                142.01640625,\n                                45.437939453125\n                            ],\n                            [\n                                142.17158203125,\n                                45.325634765625\n                            ],\n                            [\n                                142.416015625,\n                                45.125\n                            ],\n                            [\n                                142.7041015625,\n                                44.8191894531251\n                            ],\n                            [\n                                142.884765625,\n                                44.6701171875\n                            ],\n                            [\n                                143.07509765625,\n                                44.5349121093751\n                            ],\n                            [\n                                143.28857421875,\n                                44.396630859375\n                            ],\n                            [\n                                143.5119140625,\n                                44.2775390625\n                            ],\n                            [\n                                143.65458984375,\n                                44.221337890625\n                            ],\n                            [\n                                143.75908203125,\n                                44.131640625\n                            ],\n                            [\n                                143.82431640625,\n                                44.1169921875\n                            ]\n                        ]\n                    ]\n                ]\n            },\n            \"properties\": {\n                \"region_un\": \"Asia\",\n                \"gdp_md_est\": 4329000,\n                \"wb_a3\": \"JPN\",\n                \"name_sort\": \"Japan\",\n                \"pop_year\": -99,\n                \"formal_en\": \"Japan\",\n                \"mapcolor8\": 3,\n                \"postal\": \"J\",\n                \"abbrev_len\": 5,\n                \"adm0_a3_wb\": -99,\n                \"economy\": \"1. Developed region: G7\",\n                \"lastcensus\": 2010,\n                \"name\": \"Japan\",\n                \"gdp_year\": -99,\n                \"homepart\": 1,\n                \"brk_group\": null,\n                \"labelrank\": 2,\n                \"filename\": \"JPN.geojson\",\n                \"wb_a2\": \"JP\",\n                \"mapcolor13\": 4,\n                \"iso_a3\": \"JPN\",\n                \"note_adm0\": null,\n                \"gu_a3\": \"JPN\",\n                \"brk_name\": \"Japan\",\n                \"sov_a3\": \"JPN\",\n                \"brk_a3\": \"JPN\",\n                \"income_grp\": \"1. High income: OECD\",\n                \"iso_a2\": \"JP\",\n                \"admin\": \"Japan\",\n                \"level\": 2,\n                \"sovereignt\": \"Japan\",\n                \"fips_10\": null,\n                \"type\": \"Sovereign country\",\n                \"geounit\": \"Japan\",\n                \"abbrev\": \"Japan\",\n                \"brk_diff\": 0,\n                \"name_alt\": null,\n                \"scalerank\": 1,\n                \"adm0_a3_is\": \"JPN\",\n                \"tiny\": -99,\n                \"mapcolor9\": 5,\n                \"mapcolor7\": 5,\n                \"su_dif\": 0,\n                \"adm0_a3_un\": -99,\n                \"featurecla\": \"Admin-0 country\",\n                \"long_len\": 5,\n                \"wikipedia\": -99,\n                \"adm0_dif\": 0,\n                \"woe_id\": -99,\n                \"region_wb\": \"East Asia & Pacific\",\n                \"iso_n3\": \"392\",\n                \"subregion\": \"Eastern Asia\",\n                \"su_a3\": \"JPN\",\n                \"un_a3\": \"392\",\n                \"name_long\": \"Japan\",\n                \"pop_est\": 127078679,\n                \"geou_dif\": 0,\n                \"subunit\": \"Japan\",\n                \"note_brk\": null,\n                \"formal_fr\": null,\n                \"continent\": \"Asia\",\n                \"adm0_a3\": \"JPN\",\n                \"adm0_a3_us\": \"JPN\",\n                \"name_len\": 5\n            },\n            \"type\": \"Feature\"\n        }\n    ]\n}\n","output":"json","x":380,"y":200,"wires":[["d39806a5.3906f8"]]},{"id":"1e172a80.d07b56","type":"http in","z":"4789d54a.fb2b9c","name":"","url":"/jp-map-data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":200,"wires":[["9f0923d3.ca4be"]]},{"id":"d39806a5.3906f8","type":"http response","z":"4789d54a.fb2b9c","name":"","statusCode":"","headers":{},"x":550,"y":200,"wires":[]},{"id":"55e32f06.fe8c9","type":"comment","z":"4789d54a.fb2b9c","name":" Provide URL access of map d ata used in Vega spec.","info":"","x":280,"y":160,"wires":[]},{"id":"3ab0fb6a.203404","type":"comment","z":"4789d54a.fb2b9c","name":" Display on Dashboard","info":"","x":180,"y":60,"wires":[]},{"id":"f446d13f.182bd","type":"ui_group","z":"","name":"Group 1","tab":"90a6644c.d03218","order":1,"disp":false,"width":"10","collapse":false},{"id":"90a6644c.d03218","type":"ui_tab","z":"","name":"[Vega-Lite] Map","icon":"dashboard","order":1,"disabled":false,"hidden":false}]