node-red-node-ui-iframe/examples/03 - Control using Web Messaging API.json
[
    {
        "id": "c795ad22.d738a",
        "type": "change",
        "z": "2f068a9b.c29d36",
        "name": "set YouTube command",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"event\": \"command\",\t   \"func\": payload,\t   \"args\": []\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 600,
        "wires": [
            [
                "620fe37a.a0eb1c"
            ]
        ]
    },
    {
        "id": "67f31c42.9f6da4",
        "type": "ui_button",
        "z": "2f068a9b.c29d36",
        "name": "",
        "group": "6cf5d89f.dd2348",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-play",
        "payload": "playVideo",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "c795ad22.d738a"
            ]
        ]
    },
    {
        "id": "6f0dad3b.63db94",
        "type": "ui_button",
        "z": "2f068a9b.c29d36",
        "name": "",
        "group": "6cf5d89f.dd2348",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-pause",
        "payload": "pauseVideo",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "c795ad22.d738a"
            ]
        ]
    },
    {
        "id": "bf3fc36f.c3ad2",
        "type": "ui_button",
        "z": "2f068a9b.c29d36",
        "name": "",
        "group": "6cf5d89f.dd2348",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-stop",
        "payload": "stopVideo",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "c795ad22.d738a"
            ]
        ]
    },
    {
        "id": "4aebd5b8.70976c",
        "type": "ui_button",
        "z": "2f068a9b.c29d36",
        "name": "",
        "group": "6cf5d89f.dd2348",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Next",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-fast-forward",
        "payload": "nextVideo",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "c795ad22.d738a"
            ]
        ]
    },
    {
        "id": "bd72c2f1.42a0c",
        "type": "ui_button",
        "z": "2f068a9b.c29d36",
        "name": "",
        "group": "6cf5d89f.dd2348",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Prev",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-fast-backward",
        "payload": "previousVideo",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 760,
        "wires": [
            [
                "c795ad22.d738a"
            ]
        ]
    },
    {
        "id": "620fe37a.a0eb1c",
        "type": "ui_iframe",
        "z": "2f068a9b.c29d36",
        "group": "6cf5d89f.dd2348",
        "name": "",
        "order": 2,
        "width": "10",
        "height": "6",
        "url": "https://www.youtube.com/embed/videoseries?list=PLyNBB9VCLmo1hyO-4fIZ08gqFcXBkHy-6&enablejsapi=1",
        "origin": "*",
        "x": 590,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "6cf5d89f.dd2348",
        "type": "ui_group",
        "name": "Node-RED Essentials",
        "tab": "afdd7167.c773",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "afdd7167.c773",
        "type": "ui_tab",
        "name": "IFrame02",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]