node-red-node-ui-iframe/examples/03 - Control using Web Messaging API.json
[
    {
        "id": "15efa5a.0fab85a",
        "type": "ui_iframe",
        "z": "d6719681.4aae68",
        "group": "6cf5d89f.dd2348",
        "name": "",
        "order": 2,
        "width": "10",
        "height": "6",
        "url": "https://www.youtube.com/embed/rnM5sfb2qoY?enablejsapi=1",
        "origin": "*",
        "x": 570,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c795ad22.d738a",
        "type": "change",
        "z": "d6719681.4aae68",
        "name": "set YouTube command",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"event\": \"command\",\t   \"func\": payload,\t   \"args\": []\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 480,
        "wires": [
            [
                "15efa5a.0fab85a"
            ]
        ]
    },
    {
        "id": "67f31c42.9f6da4",
        "type": "ui_button",
        "z": "d6719681.4aae68",
        "name": "",
        "group": "6cf5d89f.dd2348",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-play",
        "payload": "playVideo",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "c795ad22.d738a"
            ]
        ]
    },
    {
        "id": "6f0dad3b.63db94",
        "type": "ui_button",
        "z": "d6719681.4aae68",
        "name": "",
        "group": "6cf5d89f.dd2348",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-pause",
        "payload": "pauseVideo",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "c795ad22.d738a"
            ]
        ]
    },
    {
        "id": "bf3fc36f.c3ad2",
        "type": "ui_button",
        "z": "d6719681.4aae68",
        "name": "",
        "group": "6cf5d89f.dd2348",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-stop",
        "payload": "stopVideo",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "c795ad22.d738a"
            ]
        ]
    },
    {
        "id": "6cf5d89f.dd2348",
        "type": "ui_group",
        "z": "",
        "name": "IFrame02",
        "tab": "afdd7167.c773",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "afdd7167.c773",
        "type": "ui_tab",
        "z": "",
        "name": "IFrame02",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]