node-red-node-ui-iframe/examples/04 - Scale embedded web page.json
[
    {
        "id": "a8ba498b.33a468",
        "type": "ui_iframe",
        "z": "e264831f.61b8d",
        "group": "6467854a.60785c",
        "name": "",
        "order": 1,
        "width": "16",
        "height": "9",
        "url": "http://nodered.org",
        "origin": "*",
        "scale": "100",
        "x": 590,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ade9c361.85d6c",
        "type": "ui_slider",
        "z": "e264831f.61b8d",
        "name": "",
        "label": "Scale",
        "tooltip": "",
        "group": "6467854a.60785c",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "25",
        "max": "125",
        "step": 1,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "e3756b0b.2153a8",
                "6197d43f.97de3c"
            ]
        ]
    },
    {
        "id": "6197d43f.97de3c",
        "type": "change",
        "z": "e264831f.61b8d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 140,
        "wires": [
            [
                "a8ba498b.33a468"
            ]
        ]
    },
    {
        "id": "3d635006.bd029",
        "type": "inject",
        "z": "e264831f.61b8d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "56",
        "payloadType": "num",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "ade9c361.85d6c"
            ]
        ]
    },
    {
        "id": "e3756b0b.2153a8",
        "type": "ui_text",
        "z": "e264831f.61b8d",
        "group": "6467854a.60785c",
        "order": 3,
        "width": "1",
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}%",
        "layout": "row-spread",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "c20c12a5.5b655",
        "type": "comment",
        "z": "e264831f.61b8d",
        "name": "Scale embedded web page by slider value",
        "info": "",
        "x": 200,
        "y": 100,
        "wires": []
    },
    {
        "id": "6467854a.60785c",
        "type": "ui_group",
        "name": "Node-RED",
        "tab": "d2d722c.92e12e",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "d2d722c.92e12e",
        "type": "ui_tab",
        "name": "IFrame03",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]